h1 {
  font-size: 60px;
}

h5 {
  font-size: 40px;
  text-transform: capitalize;
}

p {
  font-size: 15px;
  margin: 10px 125px;
  max-width: 600px;
}

ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

li {
  color: rgb(184, 179, 179);
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.card {
  border: 2px solid grey;
}

.card-title {
  margin: 0;
}

.time {
  font-size: 15px;
}

.precip {
  font-size: 13px;
}

.days {
  color: grey;
  font-size: 10px;
  margin-left: 0;
  margin-right: 20px;
}

.current-temp .img {
  height: 64px;
  margin-right: 5px;
  width: 64px;
}

.current-temp .fahr-celsius {
  font-size: 15px;
  left: 175px;
  position: relative;
  top: -80px;
}

.current-temp .active {
  color: #212529;
  cursor: default;
}

.current-temp .active:hover {
  text-decoration: none;
}

.row-forecast {
  color: #000;
  margin-top: 20px;
  text-align: center;
}

.row-date {
  font-size: 16px;
  opacity: 0.5;
}

.row-temp-min {
  opacity: 0.5;
}

.row-temps {
  font-size: 13px;
}

.search-form {
  text-align: center;
}
