h1 {
  font-size: 60px;
  margin-right: 0;
}

h5 {
  text-transform: capitalize;
}

p {
  font-size: 15px;
  margin: 10px 125px;
  max-width: 600px;
}

small {
  color: rgb(184, 179, 179);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: rgb(184, 179, 179);
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

#linha-vertical {
  border-right: 1px solid rgb(184, 179, 179);
  bottom: 60px;
  height: 250px;
  position: absolute;
  right: 130px;
}

.card {
  border: 2px solid grey;
}

.card-title {
  margin: 0;
}

.time {
  font-size: 15px;
}

.precip {
  font-size: 13px;
}

.days {
  color: grey;
  font-size: 10px;
  margin-left: 0;
  margin-right: 20px;
}

.current-temp {
  display: inline;
  font-size: 15px;
  left: 60px;
  position: relative;
  top: -55px;
}

.icon {
  display: inline;
  left: 100px;
  position: relative;
  top: -30px;
}
